body {
    padding-top: 70px; /* Adjust based on your navbar height */
}

.hero-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.712); /* Adjust opacity here */
  z-index: 1;
}

.hero-header > * {
  position: relative;
  z-index: 2;
}

